<h1 mat-dialog-title>Creer une partie</h1>
<mat-dialog-content>
  <form [formGroup]="createGameForm">
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Nom de la partie</mat-label>
    <input matInput formControlName="gameName">
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Votre pseudo</mat-label>
    <input matInput formControlName="userName">
  </mat-form-field>
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style" formControlName="gameIsPublic">
    <mat-button-toggle value="False">Privée</mat-button-toggle>
    <mat-button-toggle value="True">Publique</mat-button-toggle>
  </mat-button-toggle-group>
</form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-stroked-button color="link" (click)="closeDialog()">Annuler</button>
  <button mat-raised-button color="primary" (click)="createGame()" [disabled]="isDisabled()">Creer</button>
</mat-dialog-actions>
