<div class="game">
  <div class="other-player">
    <app-game-field [player]="getOtherPlayers(0)" [otherPlayer]="true" [canKick]="self.isOwner"
                    (kickPlayer)="kickPlayer(getOtherPlayers(0))"></app-game-field>
    <app-game-field [player]="getOtherPlayers(1)" [otherPlayer]="true" [canKick]="self.isOwner"
                    (kickPlayer)="kickPlayer(getOtherPlayers(1))"></app-game-field>
  </div>
  <div class="player">
    <h1>RED-TETRIS</h1>
    <h2>{{self?.name}}</h2>
    <app-game-field></app-game-field>
    <div class="options" *ngIf="game?.gameState === 'CREATE'">
      <button mat-raised-button color="primary" *ngIf="self.isOwner" (click)="startGame()">Lancer la partie</button>
      <button mat-raised-button color="accent" (click)="leaveGame()">Quitter</button>
    </div>
  </div>
  <div class="other-player">
    <app-game-field [player]="getOtherPlayers(2)" [otherPlayer]="true" [canKick]="self.isOwner"
                    (kickPlayer)="kickPlayer(getOtherPlayers(2))"></app-game-field>
    <app-game-field [player]="getOtherPlayers(3)" [otherPlayer]="true" [canKick]="self.isOwner"
                    (kickPlayer)="kickPlayer(getOtherPlayers(3))"></app-game-field>
  </div>
</div>
